body {
    background-color: #894b87;
    font-family: Sans-Serif;

}
table{
    font-weight: 200; 
    color: black;
    font-family: 'Century Gothic';
    background-color: white;
    

}

h1{
    font-size: x-large; 
    text-align: center; 
}

.footer{
    font-weight: 300;
    color: #894b87;
    font-family: 'Century Gothic';
    background-color: gray;   
}
.header{
    font-weight: bold;
    color: #894b87;
    font-family: Verdana, sans-serif;
    background-color: gray;
  }
.row{

}